/* CSS BASIC STYLES */

*{
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #f1f1f1;
    background-color: #e8e9eb;
    overflow-x: hidden;
}

html, body, .full-page-cover {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    font-family: "Roboto", Helvetica, sans-serif;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid rgb(67, 88, 105);
    color: #f1f1f1;
    /* background-color: #f1f1f1;*/
    background-color: rgb(77, 98, 115);
    padding: 7px 7px 7px;
    font-size: 16px;
}

textarea {
    width: 100%;
    background-color: rgb(77, 98, 115);
    border: 1px solid rgb(77, 98, 115);
    color: #f1f1f1;
    font-size: 16px;
    padding: 7px 7px;
    resize: none;
    font-family: "Roboto", Helvetica, sans-serif;
    border-radius: 3px;
}

footer {
    padding: 15px 45px;
    /*background-color: #000;*/
    color: #000 !important;
}
footer a {
    margin-right: 20px;
}

header {
    padding: 20px 10px;
    border-bottom: 2px solid rgb(228, 228, 228);
    text-align: center;
}

/* POSITIONING */
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 15px;
}
.mt-4 {
    margin-top: 20px;
}
.mt-5 {
    margin-top: 25px;
}
.mt-10 {
    margin-top: 65px;
}

.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 10px;
}
.mb-3 {
    margin-bottom: 15px;
}
.mb-4 {
    margin-bottom: 20px;
}
.mb-5 {
    margin-bottom: 25px !important;
}

.mr-1 {
    margin-right: 5px;
}
.mr-2 {
    margin-right: 10px;
}
.mr-3 {
    margin-right: 15px;
}
.mr-4 {
    margin-right: 20px;
}
.mr-5 {
    margin-right: 25px;
}

.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px;
}
.ml-3 {
    margin-left: 15px;
}
.ml-4 {
    margin-left: 20px;
}
.ml-5 {
    margin-left: 25px;
}

.m-1 {
    margin: 5px;
}
.m-2 {
    margin: 10px;
}
.m-3 {
    margin: 15px;
}
.m-4 {
    margin: 20px;
}
.m-5 {
    margin: 25px;
}

.pl-1 {
    padding-left: 20px;
}
.pl-2 {
    padding-left: 25px;
}
.pl-3 {
    padding-left: 35px;
}
.pl-4 {
    padding-left: 45px;
}
.pl-5 {
    padding-left: 60px;
}

.p-1 {
    padding: 20px;
}
.p-2 {
    padding: 25px;
}
.p-3 {
    padding: 35px;
}
.p-4 {
    padding: 45px;
}
.p-5 {
    padding: 60px;
}

.z-0 {
    z-index: 0 !important;
}
.z-1 {
    z-index: 1 !important;
}
.z-2 {
    z-index: 2 !important;
}
.z-3 {
    z-index: 3 !important;
}
.z-4 {
    z-index: 4 !important;
}
.z-5 {
    z-index: 5 !important;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.text-align-end {
    text-align: end;
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}

.center-content-25-left {
    position: absolute;
    float: left;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.center-content {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25px 0px 25px 0px;
}

.grid-column-gap {
    column-gap: 2%;
    grid-template-columns: 49% 49%;
}

.grid-2-auto {
    display: grid;
    grid-template-columns: 155px 50%;
    padding: 25px 0px 25px 0px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 25px 0px 25px 0px;
}

.col-1 {
    grid-column-start: 1; 
    grid-column-end: 2; 
}

.col-2 {
    grid-column-start: 2; 
    grid-column-end: 3; 
}

.col-3 {
    grid-column-start: 3; 
    grid-column-end: 4; 
}


/* ATTRIBUTES */
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; 
}
  
.shadow {
    box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important; 
}
  
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
  
.shadow-none {
    box-shadow: none !important; 
}

.grayed-bg {
    background: rgba(0, 0, 0, 0.35);
}

.bg-dark {
    background-color: #000000 !important;
    color: #f1f1f1 !important;
}

.img-rounded {
    border-radius: 50%;
}

.text-small {
    font-size: 14px;
}

.text-large {
    font-size: 20px;
}

/* ELEMENTS */
.full-page-cover {
    /*position: relative;*/
    height:100vh;
    display:flex;
    align-items:center;
    font-size: 22px;
    line-height: 29px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
}

.full-page {
    /*position: relative;*/
    color: #f1f1f1;
    /*width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 29px auto;
    */
}

.quarter-page {
    position: relative;
    color: #f1f1f1;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
}

.full-page-video {
    /*position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.full-page-video video {
    min-height:100%;
    min-width:100%;
}

.content {
    top: 0;
    padding: 12px 55px 55px 55px;
    color: #000;
}
.content h1 {
    font-size: 45px;
}

.inner-page {
    padding: 18px 45px;
    border: 3px solid rgb(228, 228, 228);
    line-height: 2.25rem;
}

.inner-page-np {
    /*border: 3px solid rgb(228, 228, 228);*/
    line-height: 2.25rem;
}

.black-outline {
    background-color: #000;
    width: 23px;
    grid-column: 1 / 2;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    top: 44%;
    left: 0%;
}

.nav-elements {
    border: 1px solid #f1f1f1;
    border-radius: 64px;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 5px;
}

.nav-elements:hover {
    background: rgba(241, 241, 241, 0.25);
    border: 1px solid #f1f1f1;
    padding: 5px 5px;
    transition: .5s all;
}
.nav-elements:focus {
    outline: none;
}

.nav-elements-active {
    background: #f1f1f1 !important;
}

.content-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content-nav-elements {
    display: block;
    text-align: center;
    padding: 14px 65px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.775) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.175) !important;
}

.content-nav-elements:hover {
    color: #000 !important;
    border-bottom: 2px solid #000 !important;
    cursor: pointer;
    transition: .5s all;
}

.logo-addition {
    font-size: 26px;
}

.team-table {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding: 25px 0px 25px 0px;
    grid-gap: 2%;
    /*justify-content: center;*/
}

.team-col-1 {
    grid-column-start: 1; 
    grid-column-end: 2; 
}

.team-col-2 {
    grid-column-start: 2; 
    grid-column-end: 3; 
}

.team-col-3 {
    grid-column-start: 3; 
    grid-column-end: 4; 
}

.name-table {
    display: grid;
    grid-template-columns: auto auto auto;
    float: left;
}

.name-col-1 {
    grid-column-start: 1; 
    grid-column-end: 2;
}

.name-col-2 {
    grid-column-start: 2; 
    grid-column-end: 3;
    padding-left: 25px;
    font-size: 18px;
}

.name-col-3 {
    grid-column-start: 3; 
    grid-column-end: 4;
    border-left: 2px solid rgb(228, 228, 228);
    padding-left: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.our-work-heading-gray {
    padding: 50px;
    background: linear-gradient(90deg, rgb(116, 121, 137) 0%, rgb(78, 85, 97) 50%);
    color: #f1f1f1;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 4px;
}

.contact-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.our-work-text-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 70px 20%;
    margin-top: 35px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 4px;
}

.our-work-image {
    padding-top: 45px;
    padding-bottom: 45px;
}

.our-work-image > img {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 4px;
}

.our-work-text-grid-blue {
    background: linear-gradient(89deg, rgb(89, 71, 126) 0%, rgb(54, 35, 73) 52%);
    color: #f1f1f1;
}

.our-work-text-grid-green {
    background: linear-gradient(90deg, rgb(51, 109, 109) 0%, rgb(42, 69, 69) 50%);
    color: #f1f1f1;
}

.our-work-text-grid-gray {
    background: linear-gradient(-269deg, rgb(116, 129, 137) 1%, rgb(57, 78, 95) 50%);
    color: #f1f1f1;
}

.our-work-text-grid-purple {
    background: linear-gradient(-269deg, rgb(120, 75, 126) 1%, rgb(53, 49, 77) 50%);
    color: #f1f1f1;
}

.our-work-text-grid-light-blue {
    background: linear-gradient(269deg, #B6BECE 49%, #F7F7F7 100%);
    color: #000;
}

.color-tile {
    padding: 50px;
    color: #f1f1f1;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 4px;
}

.color-tile-ts {
    padding: 50px;
    color: #f1f1f1;
    text-align: start;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    border-radius: 4px;
}

.color-tile-light-gray {
    background: linear-gradient(269deg, rgb(182, 190, 206) 49%, rgb(243, 243, 243) 100%);
    color: #000;
}

.color-tile-blue {
    background: linear-gradient(-89deg, rgb(29, 80, 135) 53%, rgb(69, 120, 175) 100%);
    color: #f1f1f1;
}

.color-tile-light-blue {
    background: linear-gradient(89deg, rgb(89, 71, 126) 0%, rgb(54, 35, 73) 52%);
    color: #f1f1f1;
}

.color-tile-green {
    background: linear-gradient(90deg, rgb(51, 109, 109) 0%, rgb(42, 69, 69) 50%);
    color: #f1f1f1;
}

.color-tile-gray {
    background: linear-gradient(-269deg, rgb(116, 129, 137) 1%, rgb(57, 78, 95) 50%);
    color: #f1f1f1;
}

.color-tile-purple {
    background: linear-gradient(-269deg, rgb(120, 75, 126) 1%, rgb(53, 49, 77) 50%);
    color: #f1f1f1;
}

.color-tile-bluish-gray {
    background: linear-gradient(269deg, #B6BECE 49%, #F7F7F7 100%);
    color: #000;
}

.color-tile-dark-gray {
    background: linear-gradient(-89deg, rgb(14, 16, 20) 53%, rgb(44, 46, 50) 100%);
    color: #f1f1f1;
}

/* Enitrly different */

.tile-light-gray {
    background: linear-gradient(269deg, rgb(182, 190, 206) 49%, rgb(243, 243, 243) 100%);
    color: #000;
}

.tile-blue {
    background: linear-gradient(-89deg, rgb(29, 80, 135) 53%, rgb(69, 120, 175) 100%);
    color: #f1f1f1;
}

.tile-light-blue {
    background: linear-gradient(89deg, rgb(89, 71, 126) 0%, rgb(54, 35, 73) 52%);
    color: #f1f1f1;
}

.tile-green {
    background: linear-gradient(-89deg, rgb(31, 89, 89) 53%, rgb(71, 129, 129) 100%);
    color: #f1f1f1;
}

.tile-gray {
    background: linear-gradient(-269deg, rgb(116, 129, 137) 1%, rgb(57, 78, 95) 50%);
    color: #f1f1f1;
}

.tile-purple {
    background: linear-gradient(-89deg, rgb(100, 55, 106) 53%, rgb(140, 95, 146) 100%);
    color: #f1f1f1;
}

.tile-bluish-gray {
    background: linear-gradient(269deg, #B6BECE 49%, #F7F7F7 100%);
    color: #000;
}

.tile-dark-gray {
    background: linear-gradient(-89deg, rgb(14, 16, 20) 53%, rgb(44, 46, 50) 100%);
    color: #f1f1f1;
}

.tile-nr-gray {
    background: rgb(57, 78, 95);
    color: #f1f1f1;
}

/* Go on */

.btn-longtext {
    max-width: 600px !important;
}
.btn-dark {
    color: #000 !important;
    border: 1px solid #000 !important;
}
.btn-red {
    color: #e53935 !important;
    border: 1px solid #e53935 !important;
}
.btn-med {
    font-size: 14px !important;
}
.btn-big {
    padding: 16px 44px 14px !important;
    font-size: 16px !important;
}
.btn-uppercase {
    text-transform: uppercase;
}
.btn-dark:hover {
    background-color: #000 !important;
    color: #e8e9eb !important;
    transition: .5s all;
}
.btn-red:hover {
    background-color: #e53935 !important;
    color: #e8e9eb !important;
    transition: .5s all;
}

.border-top {
    border-top: 2px solid rgb(228, 228, 228);
}

.btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 12px 40px 10px;
    max-width: 300px;
    border-radius: 4px;
    transition: all .25s ease-out;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    pointer-events: auto;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #e8e9eb;
    border: 1px solid #e8e9eb;
}

.btn:hover {
    padding: 12px 40px 10px;
    transition: all .25s ease-out;
    color: #000;
    border: 1px solid #e8e9eb;
    background-color: #e8e9eb;
}

.error {
    font-size: 24px;
    background-color: #e53935;
    color: #f1f1f1;
    padding: 25px;
    margin: 20px;
    border-radius: 3px;
}

.success {
    font-size: 24px;
    background-color: #86d461;
    color: #f1f1f1;
    padding: 25px;
    margin: 20px;
    border-radius: 3px;
}